<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <!-- Css -->
  
    <link rel="stylesheet" href="{% static 'recipes/css/estilocontato.css' %}">
</head>
<body>
    <!-- Section -->
    <section>
        <!-- Container Contato -->
        <div class="contact-container">
            <!-- Form -->
            <div class="form-container">
                <h3>Entre em Contato com a gente!</h3>
                <p>Entre em contato preenchendo o formulário abaixo, tirando suas dúvidas ou dando sugestões, responderemos o mais breve possível através de e-mail.</p>
                <form action="" class="contact-form">
                    <input type="text" placeholder="Nome" required name="" id="">
                    <input type="email" name="" id="" placeholder="E-mail" required>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Deixe seu feedback!" required></textarea>
                    <input type="submit" value="Enviar" class="send-button">
                </form>
            </div>
            <!-- Map -->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.26068774367!2d-35.049596325834244!3d-6.229322461003914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b28f5f2da60419%3A0x1e7f98dcd4fb307b!2sLig%20Peg!5e0!3m2!1spt-BR!2sbr!4v1689862476171!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
        </div>
    </section>
 
    <!-- Copyright -->
    <div class="copyright">
        <p>&#169; LigPeg Todos os Direitos Reservados.</p>
    </div>
</body>
</html>