{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ligpeg</title>
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Favicon -->
    <link rel="shortcut icon" href="imagens/PERFIL.png" type="image/x-icon">

    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'recipes/css/estilo.css' %}">

    <!-- Float Button -->
    <div class="whats">
        <a href=" https://wa.me/5584996006663?text=ol%C3%A1%2C+quero+fazer+um+pedido" target="_blank">
        <img src="imagens/whatsapp-logo-whatsapp-icon.webp" width="120" alt="">
       </a>
    </div>

 
</head>